%h2
  = @itinerary.title

%p
  = @itinerary.description

%h3
  Stops

- @itinerary.stops.each do |stop|
  %div
    = stop.title
    = stop.description
    = stop.city + " " + stop.state + " " + stop.zip_code
    = link_to "More info", stop.url

- if @can_add_stops
  %p
    = link_to "Add a Stop", new_itinerary_stop_path(@itinerary)

- if @can_edit
  %p
    = link_to "Edit Itinerary", edit_itinerary_path(@itinerary)
  %p
    = link_to "Send Invitation", new_itinerary_contributor_path(@itinerary)
