= form_for([@itinerary, @itinerary.stops.new]) do |f|
  %div
    = f.label      :title
    = f.text_field :title

  %div
    = f.label     :description
    = f.text_area :description

  %div
    = f.label      :url
    = f.text_field :url

  %div
    = f.label      :city
    = f.text_field :city

  %div
    = f.label      :state
    = f.text_field :state

  %div
    = f.label      :zip_code
    = f.text_field :zip_code

  = f.submit "Save"
